*{
    box-sizing: border-box;
}

body{
}

.clearfix{
    clear: both;
}

.container{

}

@media (min-width: 768px) {
    .container{
        margin: 0px auto;
        width: 750px;
    }
}

@media (min-width: 998px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
