<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Change Your Password</h4>
        </div>
        <div class="modal-body sizer">
            <form name="formChangePassword" method="PUT" accept-charset="UTF-8">
                <input type="hidden" name="_token" id="_token" value="{!! csrf_token() !!}}" />
                <div ng-if="!isPermission" ng-class="{'has-error':formChangePassword.current_password.$touched && formChangePassword.current_password.$invalid}" class="form-group" style="margin-bottom:10px;">
                    <label for="current_password">Current Password</label>
                    <div>
                        <input  type="password"  class="form-control" id="current_password" name="current_password" ng-model="user.current_password" ng-required="!isPermission">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':formChangePassword.password.$touched && formChangePassword.password.$invalid}" style="margin-bottom:10px;">
                    <label for="new_password">New Password</label>
                    <div>
                        <input type="password"  name="password" ng-model="user.password" class="form-control" id="new_password" ng-required="true">
                        <label class="control-label" ng-show="formChangePassword.password.$touched && formChangePassword.password.$invalid">
                        Password invalid
                    </label>
                    </div>
                </div>
                <div ng-class="{'has-error':formChangePassword.password1.$touched && formChangePassword.password1.$invalid}" type="password" class="form-group" style="margin-bottom:20px;">
                    <label for="confirm_new_password">Confirm New Password</label>
                    <div>
                        <input type="password" class="form-control" id="confirm_new_password" name="password_confirmation" ng-model="user.password_confirmation" ng-required="true">
                        <label class="control-label" ng-show="formChangePassword.password_confirmation.$touched && formChangePassword.password_confirmation$invalid">
                          Confirm Password invalid
                        </label>
                        <label class="control-label" ng-show="formChangePassword.password_confirmation.$touched && user.password_confirmation!=user.password">
                            Password Not Match
                        </label>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="alert alert-error alert-danger" ng-show="error">
                        {{error}}
                    </div>

                    <div class="alert alert-success" ng-show="message_success">
                        {{message_success}}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-group center-block"> 
                <button ng-disabled="formAddUser.$invalid" class="btn btn-primary" ng-click="changePassword(userProfile.id)" ng-disabled="formChangePassword.$invalid || user.password_confirmation!=user.password ">
                    Change Password
                </button>
                <button type="button" class="btn btn-primary" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Close</button>
            </div>
        </div>
    </div>
</div>
