<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Change Status User</h4>
</div>

<div class="modal-body">
      <p style="font-size:14px"  class="text-center">Do you want <strong>{{userInfo['first_name']}} {{userInfo['last_name']}}</strong>  is <span style="color: #81b53e;" ng-if="userInfo.status == 'no'">Active</span><span style="color: #e74c3c;" ng-if="userInfo.status == 'yes'">InActive</span> ?</p>
    <form>
        <div class="form-group center-block">
            <button type="submit" class="btn btn-action" ng-click="changeStatus()"><span class="glyphicon glyphicon-cog"></span> Yes</button>
            <button type="button"  class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove close-delete">  </span> No</button>
        </div>

    </form>

</div>
