<?php include('base/header.html'); ?>

<div class="site-body">
    <div class="container">
        <main id="main" class="site-content">
            <div class="contact-page">
                <h1 class="page-heading">Liên hệ với chúng tôi</h1>
                <div class="content">
                    <h2>Where does it come from?</h2>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <h2>Where can I get some?</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                </div>
                <div class="contact-form">
                    <forn>
                        <p class="form-title">Hãy cho tôi biết suy nghĩ của bạn</p>
                        <p>
                            <input type="text" placeholder="Họ tên">
                        </p>
                        <p>
                            <input type="text" placeholder="Email">
                        </p>
                        <p>
                            <input type="text" placeholder="Số điện thoại">
                        </p>
                        <p>
                            <input type="text" placeholder="Tiêu đề">
                        </p>
                        <div>
                            <textarea name="name" rows="8" cols="40" placeholder="Nội dung"></textarea>
                        </div>
                        <div>
                            <button name="button">Gửi</button>
                        </div>
                    </forn>
                </div>
            </div>
        </main>
        <aside class="sidebar primary-sidebar">
            <nav class="sidebar-navigation">
                <ul>
                    <li>
                        <a href="gioi-thieu.html" class="gioi-thieu<?php if(basename($_SERVER['SCRIPT_FILENAME']) == 'gioi-thieu.html') echo ' active'; ?>">Giới thiệu về Fiona</a>
                    </li>
                    <li>
                        <a href="dang-ky-dai-ly.html" class="dang-ky-dai-ly<?php if(basename($_SERVER['SCRIPT_FILENAME']) == 'dang-ky-dai-ly.html') echo ' active'; ?>">Đăng ký đại lý</a>
                    </li>
                    <li>
                        <a href="tuyen-dung.html" class="tuyen-dung<?php if(basename($_SERVER['SCRIPT_FILENAME']) == 'tuyen-dung.html') echo ' active'; ?>">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="lien-he.html" class="lien-he<?php if(basename($_SERVER['SCRIPT_FILENAME']) == 'lien-he.html') echo ' active'; ?>">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <div class="clearfix"></div>
    </div>
</div>


<?php include('base/footer.html'); ?>
