a {
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

h2, h3 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

h4, h5 {
  font-size: 14px;
  margin: 10px 0;
  font-weight: bold;
}

h6 {
  font-weight: normal;
  font-size: 12px;
  margin: 10px 0;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea {
  padding: 5px 10px;
  border: 1px solid #ddd;
}

input[type="submit"], input[type="reset"], button, .btn {
  padding: 10px 20px;
  border: 1px solid #2e2e2e;
  background: #3b3b3b;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.others-news, .site-footer .socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-header .input-text .el {
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
}
.site-header #logo {
  margin: 0;
  padding: 0;
  left: 35px;
  top: 4px;
  height: 35px;
  width: 87px;
  position: absolute;
}
.site-header #logo a {
  display: block;
  background: url('../images/logo.png?1467167260') top left no-repeat;
  background-size: 87px 35px;
  text-indent: -99999px;
  height: 100%;
  margin-bottom: 20px;
}

.primary-navigation .cm-cart {
  position: relative;
}
.primary-navigation .cm-cart a {
  padding-left: 40px !important;
}
.primary-navigation .cm-cart a:before {
  content: '';
  display: block;
  height: 23px;
  width: 17px;
  position: absolute;
  top: 10px;
  left: 13px;
  background: url('../images/fiona.png?1467528610') 0 -38px no-repeat;
  background-size: 268px 52px;
  background-position: 0px -29px;
}
.primary-navigation .search-header .icon {
  display: block;
  height: 24px;
  width: 24px;
  background: url('../images/fiona.png?1467528610') no-repeat;
  background-position: -140px -36px;
}
.primary-navigation .search-header .input-text {
  display: table;
}
.primary-navigation .search-header .input-text .icon, .primary-navigation .search-header .input-text .text {
  display: table-cell;
}
.primary-navigation .search-header .input-text .text {
  width: 100%;
}

.site-content {
  line-height: 20px;
}
.site-content img {
  max-width: 100%;
  height: auto;
}

.content img {
  max-width: 100%;
  height: auto;
}

.news-inner {
  position: relative;
}
.news-inner .overlay {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.news-inner .overlay-inner {
  height: 100%;
}
.news-inner:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.news-inner .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.news-inner .btn-detail {
  background-color: #ffffff;
  color: #000000;
  position: relative;
  padding: 10px 20px;
  text-transform: uppercase;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.featured-news a {
  display: block;
}
.featured-news img {
  max-width: 100%;
  height: auto;
}

.news-page .news {
  height: 300px;
}
.news-page .news a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.news-page .news img {
  min-height: 100%;
  max-width: 120%;
}
.news-page .top-news, .news-page .bottom-news {
  list-style: none;
  padding: 0;
  margin: 0;
}
.news-page.detail-page .page-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #000;
}
.news-page.detail-page .meta {
  color: #b1b1b1;
}
.news-page.detail-page .content {
  color: #404040;
}

.products-page .product {
  padding: 5px;
}
.products-page .product img {
  min-width: 100%;
  max-width: 110%;
  height: auto;
  width: auto;
}
.products-page .product .product-price {
  font-weight: bold;
}
.products-page .product:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.products-page .product-inner {
  position: relative;
  overflow: hidden;
}
.products-page .saleoff {
  top: 9px;
  right: -32px;
  color: #fff;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  display: inline-block;
  background-color: #ff0000;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.products-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.products-page .overlay-inner {
  position: relative;
  top: 50%;
  color: #fff;
  padding: 10px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.products-page .overlay-inner a {
  display: inline-block;
  margin-top: 10px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  padding: 10px 20px;
  text-transform: uppercase;
}
.products-page .hr {
  display: block;
  width: 80%;
  height: 1px;
  background: #fff;
  margin: 0 auto;
}

.contact-page .page-heading {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.contact-page .form-title {
  font-weight: bold;
}
.contact-page input[type="text"], .contact-page input[type="email"], .contact-page input[type="password"], .contact-page input[type="number"] {
  width: 58%;
}
.contact-page textarea {
  width: 100%;
  height: 135px;
  resize: none;
}
.contact-page button {
  background-color: #de633d;
  border: none;
}

.sub-page-heading {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 10px;
}

.related-post ul.related {
  list-style: none;
  padding: 0;
  margin: 0;
}
.related-post ul.related li {
  margin-bottom: 10px;
}
.related-post a {
  color: #000;
}
.related-post p {
  margin: 5px 0 0;
}
.related-post .date {
  color: #b1b1b1;
}

.site-footer {
  background-color: #f0f0f0;
  color: #141316;
  padding: 30px 35px;
}
.site-footer p {
  margin: 0 0 5px;
}
.site-footer a {
  color: #141316;
}
.site-footer .company-info .site-name {
  margin: 0 0 10px;
  font-weight: normal;
}
.site-footer .subcribe {
  margin-bottom: 10px;
}
.site-footer .socials {
  overflow: hidden;
}
.site-footer .socials li {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
}
.site-footer .socials li a {
  display: block;
  text-indent: -99999px;
  height: 30px;
  width: 30px;
  background: url('../images/fiona.png?1467528610') no-repeat;
}
.site-footer .socials li.facebook a {
  background-position: 0 0;
}
.site-footer .socials li.google-plus a {
  background-position: -39px 0;
}
.site-footer .socials li.twitter a {
  background-position: -79px 0;
}
.site-footer .socials li.youtube a {
  background-position: -118px 0;
}
.site-footer .socials li.pinterest a {
  background-position: -158px 0;
}
.site-footer .socials li.linked-in a {
  background-position: -199px 0;
}
.site-footer .socials li.instagram a {
  background-position: -239px 0;
}
.site-footer .socials li.Weibo a {
  background-position: -279px 0;
}

.formSubscribe .formControl {
  display: table;
}
.formSubscribe .formControl .input-text {
  display: table-cell;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
}
.formSubscribe .formControl button {
  display: table-cell;
  padding: 6px 10px;
  text-transform: uppercase;
  font-weight: bold;
  height: 28px;
  background-color: #ddd;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.formSubscribe .formControl input[type="text"] {
  padding: 5px;
  height: 26px;
  width: 100%;
  border: none;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.sidebar-navigation li {
  margin-bottom: 10px;
}
.sidebar-navigation li a {
  color: #838383;
  text-transform: uppercase;
}
.sidebar-navigation li a.active {
  color: #000;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }

  .mobile-menu-button {
    display: none;
  }

  .site-header {
    min-height: 45px;
    background-color: #ffffff;
  }
  .site-header .container {
    padding-left: 150px;
    position: relative;
  }
  .site-header .primary-navigation {
    float: right;
  }
  .site-header .primary-navigation li {
    border-right: 1px solid #9a9a9a;
  }
  .site-header .primary-navigation li a {
    color: #9a9a9a;
    text-transform: uppercase;
    display: block;
    padding: 14px;
    font-size: 14px;
    line-height: 17px;
    min-height: 45px;
  }
  .site-header .primary-navigation li a.active, .site-header .primary-navigation li a:hover {
    background-color: #333333;
    color: #fff;
  }
  .site-header .primary-navigation li ul {
    display: none;
  }
  .site-header .primary-navigation li.search-header {
    padding: 10px;
    background-color: #9a9a9a;
    height: 45px;
    color: #fff;
  }
  .site-header .primary-navigation li.search-header input[type="text"] {
    background-color: transparent;
    border: none;
    padding: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
  }

  .sub-navigation {
    background-color: #1a1a1a;
    min-height: 40px;
  }
  .sub-navigation .container {
    padding: 0px 35px;
  }
  .sub-navigation > div > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sub-navigation > div > ul > li {
    float: left;
    position: relative;
  }
  .sub-navigation > div > ul > li:hover {
    z-index: 99;
  }
  .sub-navigation > div > ul > li:hover > ul {
    opacity: 1;
    display: block;
  }
  .sub-navigation > div > ul > li > a {
    display: block;
    color: #ffffff;
    line-height: 20px;
  }
  .sub-navigation > div > ul > li > ul {
    min-width: 200px;
    top: 40px;
    left: 0;
    opacity: 0;
    display: none;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .sub-navigation > div > ul > li a {
    display: block;
    text-transform: uppercase;
    padding: 10px;
    color: #ffffff;
  }
  .sub-navigation > div > ul > li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .sub-navigation > div > ul > li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #4d4d4d;
  }

  .featured-news {
    height: 380px;
  }
  .featured-news a {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .featured-news img {
    min-height: 100%;
    max-width: 105%;
  }
  .featured-news .leftBock {
    width: 60%;
    height: 100%;
    float: left;
  }
  .featured-news .leftBock .first-news {
    height: 60%;
  }
  .featured-news .leftBock .others-news {
    height: 40%;
  }
  .featured-news .leftBock .others-news .news {
    height: 100%;
  }
  .featured-news .rightBlock {
    width: 40%;
    float: left;
    height: 100%;
  }

  .leftBock .others-news .news {
    width: 50%;
    float: left;
  }

  .news-page .news {
    height: 250px;
  }
  .news-page .top-news {
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .news-page .top-news .news:first-child {
    width: 66.666666%;
    float: left;
    padding-right: 10px;
  }
  .news-page .top-news .news:last-child {
    width: 33.333333%;
    float: left;
  }
  .news-page .bottom-news {
    overflow: hidden;
    margin-bottom: 20px;
  }
  .news-page .bottom-news .news {
    width: 33.333333%;
    float: left;
    padding-right: 10px;
  }
  .news-page .bottom-news .news:last-child {
    padding-right: 0;
  }

  .site-body {
    margin: 40px 0;
  }
  .site-body .container {
    width: 750px;
  }
  .site-body .site-content {
    width: 75%;
    float: left;
    border-right: 1px solid #ddd;
    padding: 10px 20px 10px 10px;
  }
  .site-body .primary-sidebar {
    width: 25%;
    float: left;
    padding: 10px 10px 10px 20px;
  }
  .site-body .primary-sidebar .sidebar-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .products-page {
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .products-page .product {
    width: 25%;
    float: left;
  }

  .site-footer .leftFooter {
    width: 70%;
    float: left;
  }
  .site-footer .rightFooter {
    width: 30%;
    float: left;
  }
}
@media (min-width: 998px) {
  .featured-news {
    height: 490px;
  }

  .news-page .news {
    height: 320px;
  }

  .products-page .product {
    width: 20%;
  }

  .site-body .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .featured-news {
    height: 590px;
  }

  .news-page .news {
    height: 450px;
  }

  .site-body .container {
    width: 1170px;
  }
  .site-body .site-content {
    padding: 10px 40px 10px 10px;
  }
  .site-body .primary-sidebar {
    padding: 10px 10px 10px 40px;
  }

  .site-footer .leftFooter {
    width: 50%;
  }
  .site-footer .rightFooter {
    width: 50%;
    margin-top: 33px;
  }
  .site-footer .subcribe {
    width: 40%;
    float: left;
  }
  .site-footer .sm-block {
    float: right;
  }
}
@media (max-width: 960px) {
  .primary-navigation .search-header .input-text .text {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 804px) {
  .primary-navigation li.cm-account a {
    padding: 8px 7px 7px 15px;
  }
}
@media (max-width: 804px) {
  .primary-navigation li.cm-account {
    border-right: 1px solid #737373;
    padding-right: 10px;
  }
  .primary-navigation li.cm-account .icon {
    display: block;
    height: 30px;
    width: 30px;
    background: url('../images/fiona.png?1467528610') no-repeat;
    background-position: -64px -34px;
  }
  .primary-navigation li.cm-account .text {
    display: none;
  }
}
@media (max-width: 767px) {
  .site-header {
    background-color: #eaeaea;
    padding: 5px 15px;
    height: 50px;
    position: relative;
  }
  .site-header #logo {
    left: 68px;
  }
  .site-header .primary-navigation {
    float: right;
    overflow: hidden;
    margin-top: -10px;
  }
  .site-header .primary-navigation li {
    display: none;
  }
  .site-header .primary-navigation li.cm-cart, .site-header .primary-navigation li.search-header, .site-header .primary-navigation li.cm-account {
    display: block;
  }
  .site-header .primary-navigation li.cm-cart a:before {
    top: 1px;
    height: 27px;
    width: 20px;
    background-position: 0px -34px;
    background-size: 309px 60px;
  }
  .site-header .primary-navigation li.cm-cart .counter {
    position: relative;
    color: #737373;
    top: 5px;
  }
  .site-header .primary-navigation li.search-header {
    border-left: 1px solid #737373;
    padding-left: 10px;
    margin-left: 10px;
  }
  .site-header .primary-navigation li.search-header .icon {
    height: 30px;
    width: 30px;
    background-position: -102px -30px;
    cursor: pointer;
  }
  .site-header .primary-navigation li.search-header .text {
    display: none;
  }

  .mobile-menu-button {
    display: block;
    height: 16px;
    width: 30px;
    background: url('../images/fiona.png?1467528610') no-repeat;
    background-position: -26px -39px;
    position: relative;
    top: 12px;
    cursor: pointer;
  }

  .border {
    display: block;
    position: absolute;
    height: 40px;
    width: 1px;
    left: 57px;
    top: 5px;
    background-color: #a8a8a8;
  }

  .sub-navigation {
    display: none;
  }

  .mobile-menu .sub-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #232323;
  }
  .mobile-menu .sub-navigation .container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
  }

  .site-footer {
    text-align: center;
  }
  .site-footer .leftFooter {
    margin-bottom: 15px;
  }
  .site-footer .socials {
    display: inline-block;
    margin: 10px auto 0px;
  }
}
