@charset "UTF-8";
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*!
 *  Elusive Icons 2.0.0 by @ReduxFramework - http://elusiveicons.com - @reduxframework
 *  License - http://elusiveicons.com/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'Elusive-Icons';
  src: url("../fonts/elusiveicons-webfont.eot?v=2.0.0");
  src: url("../fonts/elusiveicons-webfont.eot?#iefix&v=2.0.0") format("embedded-opentype"), url("../fonts/elusiveicons-webfont.woff?v=2.0.0") format("woff"), url("../fonts/elusiveicons-webfont.ttf?v=2.0.0") format("truetype"), url("../fonts/elusiveicons-webfont.svg?v=2.0.0#elusiveiconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.el {
  display: inline-block;
  font: normal normal normal 14px/1 "Elusive-Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */
.el-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.el-2x {
  font-size: 2em;
}

.el-3x {
  font-size: 3em;
}

.el-4x {
  font-size: 4em;
}

.el-5x {
  font-size: 5em;
}

.el-fw {
  width: 1.28571em;
  text-align: center;
}

.el-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.el-ul > li {
  position: relative;
}

.el-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.el-li.el-lg {
  left: -1.85714em;
}

.el-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.el.pull-left {
  margin-right: .3em;
}
.el.pull-right {
  margin-left: .3em;
}

.el-spin {
  -webkit-animation: el-spin 2s infinite linear;
  animation: el-spin 2s infinite linear;
}

.el-pulse {
  -webkit-animation: el-spin 1s infinite steps(8);
  animation: el-spin 1s infinite steps(8);
}

@-webkit-keyframes el-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes el-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.el-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.el-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.el-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.el-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.el-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .el-rotate-90,
:root .el-rotate-180,
:root .el-rotate-270,
:root .el-flip-horizontal,
:root .el-flip-vertical {
  filter: none;
}

.el-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.el-stack-1x, .el-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.el-stack-1x {
  line-height: inherit;
}

.el-stack-2x {
  font-size: 2em;
}

.el-inverse {
  color: #fff;
}

/* Elusive Icons uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.el-address-book-alt:before {
  content: "";
}

.el-address-book:before {
  content: "";
}

.el-adjust-alt:before {
  content: "";
}

.el-adjust:before {
  content: "";
}

.el-adult:before {
  content: "";
}

.el-align-center:before {
  content: "";
}

.el-align-justify:before {
  content: "";
}

.el-align-left:before {
  content: "";
}

.el-align-right:before {
  content: "";
}

.el-arrow-down:before {
  content: "";
}

.el-arrow-left:before {
  content: "";
}

.el-arrow-right:before {
  content: "";
}

.el-arrow-up:before {
  content: "";
}

.el-asl:before {
  content: "";
}

.el-asterisk:before {
  content: "";
}

.el-backward:before {
  content: "";
}

.el-ban-circle:before {
  content: "";
}

.el-barcode:before {
  content: "";
}

.el-behance:before {
  content: "";
}

.el-bell:before {
  content: "";
}

.el-blind:before {
  content: "";
}

.el-blogger:before {
  content: "";
}

.el-bold:before {
  content: "";
}

.el-book:before {
  content: "";
}

.el-bookmark-empty:before {
  content: "";
}

.el-bookmark:before {
  content: "";
}

.el-braille:before {
  content: "";
}

.el-briefcase:before {
  content: "";
}

.el-broom:before {
  content: "";
}

.el-brush:before {
  content: "";
}

.el-bulb:before {
  content: "";
}

.el-bullhorn:before {
  content: "";
}

.el-calendar-sign:before {
  content: "";
}

.el-calendar:before {
  content: "";
}

.el-camera:before {
  content: "";
}

.el-car:before {
  content: "";
}

.el-caret-down:before {
  content: "";
}

.el-caret-left:before {
  content: "";
}

.el-caret-right:before {
  content: "";
}

.el-caret-up:before {
  content: "";
}

.el-cc:before {
  content: "";
}

.el-certificate:before {
  content: "";
}

.el-check-empty:before {
  content: "";
}

.el-check:before {
  content: "";
}

.el-chevron-down:before {
  content: "";
}

.el-chevron-left:before {
  content: "";
}

.el-chevron-right:before {
  content: "";
}

.el-chevron-up:before {
  content: "";
}

.el-child:before {
  content: "";
}

.el-circle-arrow-down:before {
  content: "";
}

.el-circle-arrow-left:before {
  content: "";
}

.el-circle-arrow-right:before {
  content: "";
}

.el-circle-arrow-up:before {
  content: "";
}

.el-cloud-alt:before {
  content: "";
}

.el-cloud:before {
  content: "";
}

.el-cog-alt:before {
  content: "";
}

.el-cog:before {
  content: "";
}

.el-cogs:before {
  content: "";
}

.el-comment-alt:before {
  content: "";
}

.el-comment:before {
  content: "";
}

.el-compass-alt:before {
  content: "";
}

.el-compass:before {
  content: "";
}

.el-credit-card:before {
  content: "";
}

.el-css:before {
  content: "";
}

.el-dashboard:before {
  content: "";
}

.el-delicious:before {
  content: "";
}

.el-deviantart:before {
  content: "";
}

.el-digg:before {
  content: "";
}

.el-download-alt:before {
  content: "";
}

.el-download:before {
  content: "";
}

.el-dribbble:before {
  content: "";
}

.el-edit:before {
  content: "";
}

.el-eject:before {
  content: "";
}

.el-envelope-alt:before {
  content: "";
}

.el-envelope:before {
  content: "";
}

.el-error-alt:before {
  content: "";
}

.el-error:before {
  content: "";
}

.el-eur:before {
  content: "";
}

.el-exclamation-sign:before {
  content: "";
}

.el-eye-close:before {
  content: "";
}

.el-eye-open:before {
  content: "";
}

.el-facebook:before {
  content: "";
}

.el-facetime-video:before {
  content: "";
}

.el-fast-backward:before {
  content: "";
}

.el-fast-forward:before {
  content: "";
}

.el-female:before {
  content: "";
}

.el-file-alt:before {
  content: "";
}

.el-file-edit-alt:before {
  content: "";
}

.el-file-edit:before {
  content: "";
}

.el-file-new-alt:before {
  content: "";
}

.el-file-new:before {
  content: "";
}

.el-file:before {
  content: "";
}

.el-film:before {
  content: "";
}

.el-filter:before {
  content: "";
}

.el-fire:before {
  content: "";
}

.el-flag-alt:before {
  content: "";
}

.el-flag:before {
  content: "";
}

.el-flickr:before {
  content: "";
}

.el-folder-close:before {
  content: "";
}

.el-folder-open:before {
  content: "";
}

.el-folder-sign:before {
  content: "";
}

.el-folder:before {
  content: "";
}

.el-font:before {
  content: "";
}

.el-fontsize:before {
  content: "";
}

.el-fork:before {
  content: "";
}

.el-forward-alt:before {
  content: "";
}

.el-forward:before {
  content: "";
}

.el-foursquare:before {
  content: "";
}

.el-friendfeed-rect:before {
  content: "";
}

.el-friendfeed:before {
  content: "";
}

.el-fullscreen:before {
  content: "";
}

.el-gbp:before {
  content: "";
}

.el-gift:before {
  content: "";
}

.el-github-text:before {
  content: "";
}

.el-github:before {
  content: "";
}

.el-glass:before {
  content: "";
}

.el-glasses:before {
  content: "";
}

.el-globe-alt:before {
  content: "";
}

.el-globe:before {
  content: "";
}

.el-googleplus:before {
  content: "";
}

.el-graph-alt:before {
  content: "";
}

.el-graph:before {
  content: "";
}

.el-group-alt:before {
  content: "";
}

.el-group:before {
  content: "";
}

.el-guidedog:before {
  content: "";
}

.el-hand-down:before {
  content: "";
}

.el-hand-left:before {
  content: "";
}

.el-hand-right:before {
  content: "";
}

.el-hand-up:before {
  content: "";
}

.el-hdd:before {
  content: "";
}

.el-headphones:before {
  content: "";
}

.el-hearing-impaired:before {
  content: "";
}

.el-heart-alt:before {
  content: "";
}

.el-heart-empty:before {
  content: "";
}

.el-heart:before {
  content: "";
}

.el-home-alt:before {
  content: "";
}

.el-home:before {
  content: "";
}

.el-hourglass:before {
  content: "";
}

.el-idea-alt:before {
  content: "";
}

.el-idea:before {
  content: "";
}

.el-inbox-alt:before {
  content: "";
}

.el-inbox-box:before {
  content: "";
}

.el-inbox:before {
  content: "";
}

.el-indent-left:before {
  content: "";
}

.el-indent-right:before {
  content: "";
}

.el-info-circle:before {
  content: "";
}

.el-instagram:before {
  content: "";
}

.el-iphone-home:before {
  content: "";
}

.el-italic:before {
  content: "";
}

.el-key:before {
  content: "";
}

.el-laptop-alt:before {
  content: "";
}

.el-laptop:before {
  content: "";
}

.el-lastfm:before {
  content: "";
}

.el-leaf:before {
  content: "";
}

.el-lines:before {
  content: "";
}

.el-link:before {
  content: "";
}

.el-linkedin:before {
  content: "";
}

.el-list-alt:before {
  content: "";
}

.el-list:before {
  content: "";
}

.el-livejournal:before {
  content: "";
}

.el-lock-alt:before {
  content: "";
}

.el-lock:before {
  content: "";
}

.el-magic:before {
  content: "";
}

.el-magnet:before {
  content: "";
}

.el-male:before {
  content: "";
}

.el-map-marker-alt:before {
  content: "";
}

.el-map-marker:before {
  content: "";
}

.el-mic-alt:before {
  content: "";
}

.el-mic:before {
  content: "";
}

.el-minus-sign:before {
  content: "";
}

.el-minus:before {
  content: "";
}

.el-move:before {
  content: "";
}

.el-music:before {
  content: "";
}

.el-myspace:before {
  content: "";
}

.el-network:before {
  content: "";
}

.el-off:before {
  content: "";
}

.el-ok-circle:before {
  content: "";
}

.el-ok-sign:before {
  content: "";
}

.el-ok:before {
  content: "";
}

.el-opensource:before {
  content: "";
}

.el-paper-clip-alt:before {
  content: "";
}

.el-paper-clip:before {
  content: "";
}

.el-path:before {
  content: "";
}

.el-pause-alt:before {
  content: "";
}

.el-pause:before {
  content: "";
}

.el-pencil-alt:before {
  content: "";
}

.el-pencil:before {
  content: "";
}

.el-person:before {
  content: "";
}

.el-phone-alt:before {
  content: "";
}

.el-phone:before {
  content: "";
}

.el-photo-alt:before {
  content: "";
}

.el-photo:before {
  content: "";
}

.el-picasa:before {
  content: "";
}

.el-picture:before {
  content: "";
}

.el-pinterest:before {
  content: "";
}

.el-plane:before {
  content: "";
}

.el-play-alt:before {
  content: "";
}

.el-play-circle:before {
  content: "";
}

.el-play:before {
  content: "";
}

.el-plurk-alt:before {
  content: "";
}

.el-plurk:before {
  content: "";
}

.el-plus-sign:before {
  content: "";
}

.el-plus:before {
  content: "";
}

.el-podcast:before {
  content: "";
}

.el-print:before {
  content: "";
}

.el-puzzle:before {
  content: "";
}

.el-qrcode:before {
  content: "";
}

.el-question-sign:before {
  content: "";
}

.el-question:before {
  content: "";
}

.el-quote-alt:before {
  content: "";
}

.el-quote-right-alt:before {
  content: "";
}

.el-quote-right:before {
  content: "";
}

.el-quotes:before {
  content: "";
}

.el-random:before {
  content: "";
}

.el-record:before {
  content: "";
}

.el-reddit:before {
  content: "";
}

.el-redux:before {
  content: "";
}

.el-refresh:before {
  content: "";
}

.el-remove-circle:before {
  content: "";
}

.el-remove-sign:before {
  content: "";
}

.el-remove:before {
  content: "";
}

.el-repeat-alt:before {
  content: "";
}

.el-repeat:before {
  content: "";
}

.el-resize-full:before {
  content: "";
}

.el-resize-horizontal:before {
  content: "";
}

.el-resize-small:before {
  content: "";
}

.el-resize-vertical:before {
  content: "";
}

.el-return-key:before {
  content: "";
}

.el-retweet:before {
  content: "";
}

.el-reverse-alt:before {
  content: "";
}

.el-road:before {
  content: "";
}

.el-rss:before {
  content: "";
}

.el-scissors:before {
  content: "";
}

.el-screen-alt:before {
  content: "";
}

.el-screen:before {
  content: "";
}

.el-screenshot:before {
  content: "";
}

.el-search-alt:before {
  content: "";
}

.el-search:before {
  content: "";
}

.el-share-alt:before {
  content: "";
}

.el-share:before {
  content: "";
}

.el-shopping-cart-sign:before {
  content: "";
}

.el-shopping-cart:before {
  content: "";
}

.el-signal:before {
  content: "";
}

.el-skype:before {
  content: "";
}

.el-slideshare:before {
  content: "";
}

.el-smiley-alt:before {
  content: "";
}

.el-smiley:before {
  content: "";
}

.el-soundcloud:before {
  content: "";
}

.el-speaker:before {
  content: "";
}

.el-spotify:before {
  content: "";
}

.el-stackoverflow:before {
  content: "";
}

.el-star-alt:before {
  content: "";
}

.el-star-empty:before {
  content: "";
}

.el-star:before {
  content: "";
}

.el-step-backward:before {
  content: "";
}

.el-step-forward:before {
  content: "";
}

.el-stop-alt:before {
  content: "";
}

.el-stop:before {
  content: "";
}

.el-stumbleupon:before {
  content: "";
}

.el-tag:before {
  content: "";
}

.el-tags:before {
  content: "";
}

.el-tasks:before {
  content: "";
}

.el-text-height:before {
  content: "";
}

.el-text-width:before {
  content: "";
}

.el-th-large:before {
  content: "";
}

.el-th-list:before {
  content: "";
}

.el-th:before {
  content: "";
}

.el-thumbs-down:before {
  content: "";
}

.el-thumbs-up:before {
  content: "";
}

.el-time-alt:before {
  content: "";
}

.el-time:before {
  content: "";
}

.el-tint:before {
  content: "";
}

.el-torso:before {
  content: "";
}

.el-trash-alt:before {
  content: "";
}

.el-trash:before {
  content: "";
}

.el-tumblr:before {
  content: "";
}

.el-twitter:before {
  content: "";
}

.el-universal-access:before {
  content: "";
}

.el-unlock-alt:before {
  content: "";
}

.el-unlock:before {
  content: "";
}

.el-upload:before {
  content: "";
}

.el-usd:before {
  content: "";
}

.el-user:before {
  content: "";
}

.el-viadeo:before {
  content: "";
}

.el-video-alt:before {
  content: "";
}

.el-video-chat:before {
  content: "";
}

.el-video:before {
  content: "";
}

.el-view-mode:before {
  content: "";
}

.el-vimeo:before {
  content: "";
}

.el-vkontakte:before {
  content: "";
}

.el-volume-down:before {
  content: "";
}

.el-volume-off:before {
  content: "";
}

.el-volume-up:before {
  content: "";
}

.el-w3c:before {
  content: "";
}

.el-warning-sign:before {
  content: "";
}

.el-website-alt:before {
  content: "";
}

.el-website:before {
  content: "";
}

.el-wheelchair:before {
  content: "";
}

.el-wordpress:before {
  content: "";
}

.el-wrench-alt:before {
  content: "";
}

.el-wrench:before {
  content: "";
}

.el-youtube:before {
  content: "";
}

.el-zoom-in:before {
  content: "";
}

.el-zoom-out:before {
  content: "";
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    margin: 0px auto;
    width: 750px;
  }
}
@media (min-width: 998px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.screen-reader-text {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.cm-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cm-navigation > ul > li, .cm-navigation > div > ul > li {
  float: left;
}
