/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}
/*@media only screen and(max-width: 768px){
    .navbar-top-links   {
        float:right!important;
    }
}*/


@media only screen and (max-width:768px){
    .navbar-top-links   {
        float:right!important;
    }
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.error-profile {
    color: red;
}

/*fix css*/
.relative-awata{
  position: relative;
}
.relative-awata a{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.57);
    padding: 5px;
    color: #333;
}
.full-for-image{
    width: 100%;
    margin-top: 5px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height:350px;
  margin-bottom: 20px;
}

.cropArea .img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.cropArea canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}

/*upload file*/
.drag-and-drop{
    margin: 0;
    font-size: 10px;
    line-height: 10px;
    background-color: #fafafa;
    border: 2px dashed #e3e3e3;
    text-align: center;
    height: 50px;
    cursor: pointer;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    transition: all linear 0.2s;
}
.drag-and-drop:hover{
    border: 2px dashed rgba(134, 134, 134, 0.74) !important;
    transition: all linear 0.2s;
}
.drag-and-drop h3{
    vertical-align: middle;
    display: table-cell;
    color: #aaa;
}
.drag-and-drop h3:hover{
    opacity: 0.3;
}
.file-note{
    padding-bottom: inherit;
    position: relative;
}
.file-note .file-item {
    position: relative;
    height: inherit;
    margin-top: 0px;
    width: 174px;
    padding: 15px;
}
.file-note .file-item a {
    text-decoration: none;
    width: 100%;
    word-wrap: break-word;
}
.file-note .file-item a .fa-times-circle-o{
    position:  absolute;
    display: none;
    font-size: 10px!important;
    top: 2px;
    left: 5px;
    background-color: #fff;
    border-radius: 100px;
    z-index: 10;
}
.file-note .file-item:hover .fa-times-circle-o {
    display: block;
}
.file-note .file-item:hover .info-file {
    color: #649bd7;
    opacity: 0.5;
}
.file-note i:before {
    font-size: 18px;
}
.file-note .file-item a i:before {
    color: #333;
    font-size: 35px;
}
.info-f-f p {
    margin-bottom: 0;
    color:#333;
    font-weight: normal;
    font-size: 13px;
}
.file-note .wrap-progress {
    height: 25px;
}
.file-note .progress {
    height: 5px !important;
    margin-bottom: 0;
    text-align: center;
    background: #ddd;
}
.progress .progress-bar {
    text-align: center;
    border-radius: 0 0 0 0;
    background: #5AB5DC;
}

/*end*/
.padding-none{
    padding:0px;
}
/*end

/*select level*/
.wrap-label.select-level {
    position: relative;
}
.wrap-label.select-level .text-show-action {
    width: 100%;
    display: block;
    min-height: 34px;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #c8c7cc;
    border-radius: 0 0 0 0 !important;
    color: black;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 10px;
    transition-duration: 0.1s;
    box-shadow: none !important;
    -khtml-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    text-align: left;
}

.select-menu-list{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2) !important;
    margin: 0px;
    list-style: none;
    background: #fff;
    border: 1px solid #efefef;
}
.select-menu-parrent{
    margin: 0px;
    list-style: none;
    padding:10px;
}
.select-menu-parrent ul li{
    padding: 7px 0px;
}
.select-menu-parrent a{
    color:#333;
    padding-left: 5px;
}
.select-menu-parrent a i.fa{
    color: #00AFF0;
}
.select-menu-parrent a.active-category {
    background-color: #4F79B9;
    color: #fff;
    padding:6px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px -15px 20px;
    border-bottom: 1px solid #eee;
}
/*end*/