<?php include('base/header.html'); ?>

<main class="site-body" id="main">
    <div class="container">
        <div class="news-page detail-page">
            <h1 class="page-title">Top 18 người đẹp trong đêm chung khảo Hoa Hậu Việt Nam tỏa sáng trang phục đồng diễn của Fiona</h1>
            <div class="meta">
                <p class="date">13/06/2016 - 14:00:00</p>
            </div>
            <div class="content">
                content
            </div>

            <div class="social-sharing">
                code chia se
            </div>
        </div>

        <div class="related-post">
            <h3 class="sub-page-heading">Những bài viết liên quan</h3>
            <ul class="related">
                <li>
                    <a href="#">Ca sĩ Yến Trang biến hóa phong cách với trang phục Fiona</a>
                    <p class="date">16/06/2016 14:00:00</p>
                </li>
                <li>
                    <a href="#">Ca sĩ Yến Trang biến hóa phong cách với trang phục Fiona</a>
                    <p class="date">16/06/2016 14:00:00</p>
                </li>
                <li>
                    <a href="#">Ca sĩ Yến Trang biến hóa phong cách với trang phục Fiona</a>
                    <p class="date">16/06/2016 14:00:00</p>
                </li>
            </ul>
        </div>
    </div>
</main>

<?php include('base/footer.html'); ?>
