<?php include('base/header.html'); ?>

<main class="site-body" id="main">
    <div class="container">
        <div class="store-listings">
            <div class="store-container">
                <div class="top-content">
                    <h1 class="page-heading">Hệ thống cửa hàng của fiona trên toàn quốc</h1>
                    <div class="choose-locations">
                        <form>
                            <label>fiona ở các tỉnh thành</label>
                            <select>
                                <option value="">Chọn địa điểm</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="main-content">
                    <ul class="store-images">
                        <li>
                            <a href="#" title="">
                                <img src="images/tmp/stores/p1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="images/tmp/stores/p2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="images/tmp/stores/p3.jpg" alt="">
                            </a>
                        </li>
                    </ul>

                    <ol class="stores">
                        <li>
                            <h3 class="store-name">Show Room Big C Long Biên</h3>
                            <p class="address">Gian hàng 20 - Big C Long Biên - TTTM Savico đường Nguyễn Văn Linh - Q. Long Biên - TP. Hà Nội</p>
                            <p class="hotline">Phone  & Hotline: <strong>046 257 3221 - 09811 22 811</strong></p>
                            <p class="website"><a href="http://fiona.com">http://fiona.com</a></p>
                            <p class="fanpage"><a href="http://facebook.com/thoitrangfiona">http://facebook.com/thoitrangfiona</a></p>
                        </li>
                        <li>
                            <h3 class="store-name">Show Room Big C Long Biên</h3>
                            <p class="address">Gian hàng 20 - Big C Long Biên - TTTM Savico đường Nguyễn Văn Linh - Q. Long Biên - TP. Hà Nội</p>
                            <p class="hotline">Phone  & Hotline: <strong>046 257 3221 - 09811 22 811</strong></p>
                            <p class="website"><a href="http://fiona.com">http://fiona.com</a></p>
                            <p class="fanpage"><a href="http://facebook.com/thoitrangfiona">http://facebook.com/thoitrangfiona</a></p>
                        </li>
                        <li>
                            <h3 class="store-name">Show Room Big C Long Biên</h3>
                            <p class="address">Gian hàng 20 - Big C Long Biên - TTTM Savico đường Nguyễn Văn Linh - Q. Long Biên - TP. Hà Nội</p>
                            <p class="hotline">Phone  & Hotline: <strong>046 257 3221 - 09811 22 811</strong></p>
                            <p class="website"><a href="http://fiona.com">http://fiona.com</a></p>
                            <p class="fanpage"><a href="http://facebook.com/thoitrangfiona">http://facebook.com/thoitrangfiona</a></p>
                        </li>
                        <li>
                            <h3 class="store-name">Show Room Big C Long Biên</h3>
                            <p class="address">Gian hàng 20 - Big C Long Biên - TTTM Savico đường Nguyễn Văn Linh - Q. Long Biên - TP. Hà Nội</p>
                            <p class="hotline">Phone  & Hotline: <strong>046 257 3221 - 09811 22 811</strong></p>
                            <p class="website"><a href="http://fiona.com">http://fiona.com</a></p>
                            <p class="fanpage"><a href="http://facebook.com/thoitrangfiona">http://facebook.com/thoitrangfiona</a></p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>


<?php include('base/footer.html'); ?>
