<?php include('base/header.html'); ?>

<main class="site-content" id="main">
    <div class="container">
        <section class="featured-news">
            <h3 class="screen-reader-text">Sản phẩm nổi bật</h3>
            <div class="leftBock">
                <div class="first-news">
                    <a href="" title="" class="news-inner">
                        <img src="images/tmp/home/p1.png" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <span class="btn btn-detail">Xem ngay</span>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="others-news">
                    <li class="news">
                        <a href="" title="p2" class="news-inner">
                            <img src="images/tmp/home/p2.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <span class="btn btn-detail">Xem ngay</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news">
                        <a href="" title="p2" class="news-inner">
                            <img src="images/tmp/home/p3.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <span class="btn btn-detail">Xem ngay</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rightBlock">
                <a href="" title="" class="news-inner">
                    <img src="images/tmp/home/p4.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <span class="btn btn-detail">Xem ngay</span>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
</main>

<?php include('base/footer.html'); ?>
