<?php include('base/header.html'); ?>

<main class="site-content" id="main">
    <div class="container">
        <div class="products-page" itemscope itemtype="http://schema.org/ItemList">
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 100%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 100%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 100%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 50%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="saleoff">Sale 30%</div>
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-inner">
                    <img src="images/tmp/products/p1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <h2 class="product-name">Áo phông</h2>
                            <p class="product-sku">MS9082752</p>
                            <span class="hr"></span>
                            <p class="product-price">
                                430,000 VND
                            </p>
                            <a href="chi-tiet-san-pham.html" title="product">Chi tiết <span class="screen-reader-text">Áo phông MS9082752</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</main>

<?php include('base/footer.html'); ?>
