<?php include('base/header.html'); ?>


<main class="site-content" id="main">
    <div class="container">
        <div class="news-page">
            <ul class="top-news">
                <li class="news">
                    <a href="chi-tiet-tin-tuc.html" class="news-inner" title="">
                        <img src="images/tmp/news/p1.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <span class="btn btn-detail">Xem ngay</span>
                                <div class="title">Top 18 người đẹp trong đêm chung khỏa hoa hậu Việt Nam tỏa sáng</div>
                        </div>
                        </div>
                    </a>
                </li>
                <li class="news">
                    <a href="chi-tiet-tin-tuc.html" class="news-inner" title="">
                        <img src="images/tmp/news/p2.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <span class="btn btn-detail">Xem ngay</span>
                                <div class="title">Nhà sáng lập thương hiệu chính thức tham gia hội đồng chuyên môn cuộc thi HHVN 2016</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <ol class="bottom-news">
                <li class="news">
                    <a href="chi-tiet-tin-tuc.html" class="news-inner" title="">
                        <img src="images/tmp/news/p3.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <span class="btn btn-detail">Xem ngay</span>
                                <div class="title">Top 18 người đẹp trong đêm chung khỏa hoa hậu Việt Nam tỏa sáng</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="news">
                    <a href="chi-tiet-tin-tuc.html" class="news-inner" title="">
                        <img src="images/tmp/news/p4.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <span class="btn btn-detail">Xem ngay</span>
                                <div class="title">Top 18 người đẹp trong đêm chung khỏa hoa hậu Việt Nam tỏa sáng</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="news">
                    <a href="chi-tiet-tin-tuc.html" class="news-inner" title="">
                        <img src="images/tmp/news/p5.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <span class="btn btn-detail">Xem ngay</span>
                                <div class="title">Top 18 người đẹp trong đêm chung khỏa hoa hậu Việt Nam tỏa sáng</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</main>

<?php include('base/footer.html'); ?>
