<footer class="site-footer" itemscope="" itemtype="http://schema.org/WPFooter">
        <div class="container">
            <div class="leftFooter">
                <div class="cm-block company-info">
                    <h3 class="site-name">Bản quyền thuộc về công ty thời trang Fiona</h3>
                    <p class="address"><span class="el el-map-marker"></span> Số 8 - Lê Quang Đạo - P. Mỹ Đình 1 - Q. Nam Từ Liêm - Hà Nội - Việt Nam</p>
                    <p class="hotline"><span class="el el-phone"></span> <a href="tel://0466840970">046 684 0970</a> - <a href="tel:://0981122811">098 1122 811</a></p>
                    <div class="email"><span class="el el-envelope"></span> <a href="mailto:fionathoitrang@gmail.com">fionathoitrang@gmail.com</a></div>
                </div>
            </div>
            <div class="rightFooter">
                <div class="subcribe">
                    <form class="formSubscribe">
                        <div class="formControl">
                            <div class="input-text">
                                <input type="text" name="name" placeholder="Gửi email cho chúng tôi" value="">
                            </div>
                            <button>Gửi</button>
                        </div>
                    </form>
                </div>
                <div class="sm-block">
                    <ul class="socials">
                        <li class="social facebook">
                            <a href="" class="link">Facebook</a>
                        </li>
                        <li class="social google-plus">
                            <a href="" class="link">Google Plus</a>
                        </li>
                        <li class="social twitter">
                            <a href="" class="link">Twitter</a>
                        </li>
                        <li class="social youtube">
                            <a href="" class="link">Youtube</a>
                        </li>
                        <li class="social pinterest">
                            <a href="" class="link">Pinterest</a>
                        </li>
                        <li class="social linked-in">
                            <a href="" class="link">Linked In</a>
                        </li>
                        <li class="social instagram">
                            <a href="" class="link">Instagram</a>
                        </li>
                        <li class="social Weibo">
                            <a href="" class="link">Weibo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
    <script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,900:latin,vietnamese' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
    </script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/fiona.js"></script>
</body>
</html>
