@import "compass";
@import "variables";
a{
    text-decoration: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}
h2,h3{
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
h4,h5{
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
}
h6{
    font-weight: normal;
    font-size: 12px;
    margin: 10px 0;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"],textarea{
    padding: 5px 10px;
    border: 1px solid #ddd;
    // @include input-placeholder{
    //     padding-left: 10px;
    // }
}

input[type="submit"],input[type="reset"], button, .btn{
    padding: 10px 20px;
    border: 1px solid darken(#3b3b3b, 5%);
    background: #3b3b3b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    @include box-shadow(none);
}

.others-news, .site-footer .socials{
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-header{
    .input-text{
        .el{
            @include rotate(-80deg);
        }
    }
    #logo{
        margin: 0;
        padding: 0;
        left: 35px;
        top: 4px;
        height: 35px;
        width: 87px;
        position: absolute;
        a{
            display: block;
            background: image-url('logo.png') top left no-repeat;
            background-size: 87px 35px;
            text-indent: -99999px;
            height: 100%;
            margin-bottom: 20px;
        }
    }
}
.primary-navigation{
    .cm-cart{
        position: relative;
        a{
            padding-left: 40px !important;
        }
        a:before{
            content: '';
            display: block;
            height: 23px;
            width: 17px;
            position: absolute;
            top: 10px;
            left: 13px;
            background: image-url('fiona.png') 0 -38px no-repeat;
            background-size: 268px 52px;
            background-position: 0px -29px;
        }
    }
    .search-header{
        .icon{
            display: block;
            height: 24px;
            width: 24px;
            background: image-url("fiona.png") no-repeat;
            background-position: -140px -36px;
        }
        .input-text{
            display: table;
            .icon,.text{
                display: table-cell;
            }
            .text{
                width: 100%;
            }
        }
    }
}

.site-content{
    line-height: 20px;
    img{
        max-width: 100%;
        height: auto;
    }
}


.content{
    img{
        max-width: 100%;
        height: auto;
    }
}

.news-inner{
    position: relative;
    .overlay{
        @include transition(all 0.5s);
        visibility: hidden;
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .overlay-inner{
        height: 100%;
    }
    &:hover{
        .overlay{
            opacity: 1;

            visibility: visible;
        }
    }
    .title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
        color: #fff;
        padding: 20px;
        background-color: rgba(0,0,0,0.4);
    }
    .btn-detail{
        background-color: $overlay_button_bg_color;
        color: $overlay_button_color;
        position: relative;
        padding: 10px 20px;
        text-transform: uppercase;
        top: 50%;
        @include translateY(-50%);
    }
}

.featured-news{
    a{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .leftBock{
    }
    .rightBlock{
    }
}

.leftBock{
    .first-news{
        img{}
    }
    .others-news{
        .news{}
        .news-inner{
            img{}
        }
    }
}

.news-page{
    .news{
        height: 300px;
        a{
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            &:hover{

            }
        }

        img{
            min-height: 100%;
            max-width: 120%;
        }
    }
    .top-news,.bottom-news{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &.detail-page{
        .page-title{
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 10px;
            color: #000;
        }
        .meta{
            color: #b1b1b1;
        }
        .content{
            color: #404040;
        }
    }
}

.products-page{
    .product{
        padding: 5px;
        img{
            min-width: 100%;
            max-width: 110%;
            height: auto;
            width: auto;
        }
        .product-price{
            font-weight: bold;
        }
        &:hover{
            .overlay{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .product-inner{
        position: relative;
        overflow: hidden;
    }
    .saleoff{
        top: 9px;
        right: -32px;
        color: #fff;
        padding: 10px 30px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        display: inline-block;
        background-color: #ff0000;
        @include rotate(45deg);
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.5s);
    }
    .overlay-inner{
        position: relative;
        top: 50%;
        color: #fff;
        padding: 10px;
        @include translateY(-50%);
        a{
            display: inline-block;
            margin-top: 10px;
            background-color: $overlay_button_bg_color;
            color: $overlay_button_color;
            position: relative;
            padding: 10px 20px;
            text-transform: uppercase;
        }
    }
    .hr{
        display: block;
        width: 80%;
        height: 1px;
        background: #fff;
        margin: 0 auto;
    }
}

.contact-page{
    .page-heading{
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }
    .form-title{
        font-weight: bold;
    }
    input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
        width: 58%;
    }
    textarea{
        width: 100%;
        height: 135px;
        resize: none;
    }
    button{
        background-color: #de633d;
        border: none;
    }
}

.sub-page-heading{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0 10px;
}
.related-post{
    ul.related{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin-bottom: 10px;
        }
    }
    a{
        color: #000;
    }
    p{
        margin: 5px 0 0;
    }
    .date{
        color: #b1b1b1;
    }
}

.site-footer{
    background-color: $footer_bg_color;
    color: $footer_color;
    padding: 30px 35px;
    p{
        margin: 0 0 5px;
    }
    a{
        color: $footer_color;
    }
    .company-info{
        .site-name{
            margin: 0 0 10px;
            font-weight: normal;
        }
    }
    .subcribe{
        margin-bottom: 10px;
    }
    .socials{
        overflow: hidden;
        li{
            float: left;
            margin-left: 5px;
            margin-bottom: 5px;
            a{
                display: block;
                text-indent: -99999px;
                height: 30px;
                width: 30px;
                background: image-url("fiona.png") no-repeat;
            }
            &.facebook{
                a{
                    background-position: 0 0;
                }
            }
            &.google-plus{
                a{
                    background-position: -39px 0;
                }
            }
            &.twitter{
                a{
                    background-position: -79px 0;
                }
            }
            &.youtube{
                a{
                    background-position: -118px 0;
                }
            }
            &.pinterest{
                a{
                    background-position: -158px 0;
                }
            }
            &.linked-in{
                a{
                    background-position: -199px 0;
                }
            }
            &.instagram{
                a{
                    background-position: -239px 0;
                }
            }
            &.Weibo{
                a{
                    background-position: -279px 0;
                }
            }
        }
    }
}
.formSubscribe{
    .formControl{
        display: table;
        .input-text{
            display: table-cell;
            width: 100%;
            border: 1px solid #ddd;
            background-color: #fff;
        }
        button{
            display: table-cell;
            padding: 6px 10px;
            text-transform: uppercase;
            font-weight: bold;
            height: 28px;
            background-color: #ddd;
            border: none;
            @include border-radius(0);
        }
        input[type="text"]{
            padding: 5px;
            height: 26px;
            width: 100%;
            border: none;
            background: none;
            @include box-shadow(none);
            outline: 0;
        }
    }
}

.sidebar-navigation{
    ul{

    }
    li{
        margin-bottom: 10px;
        a{
            color: #838383;
            text-transform: uppercase;
            &.active{
                color: #000;
            }
        }
    }
}

@media (min-width: 768px) {
    .container{
        width: 100%;
    }
    .mobile-menu-button{
        display: none;
    }
    .site-header{
        min-height: 45px;
        background-color: $header_bg_color;
        .container{
            padding-left: 150px;
            position: relative;
        }
        .primary-navigation{
            float: right;
            ul{}
            li{
                border-right: 1px solid $main_menu_color;
                a{
                    color: $main_menu_color;
                    text-transform: uppercase;
                    display: block;
                    padding: 14px;
                    font-size: 14px;
                    line-height: 17px;
                    min-height: 45px;
                    &.active, &:hover{
                        background-color: #333333;
                        color: #fff;
                    }
                }
                ul{
                    display: none;
                }
                &.search-header{
                    padding: 10px;
                    background-color: #9a9a9a;
                    height: 45px;
                    color: #fff;
                    input[type="text"]{
                        background-color: transparent;
                        border: none;
                        padding: 5px;
                        @include box-shadow(none);
                        outline: 0;
                        color: #fff;
                    }
                }
            }
        }
    }

    .sub-navigation{
        background-color: $secondary_menu_bg_color;
        min-height: 40px;
        .container{
            padding: 0px 35px;
        }
        >div>ul{
            list-style: none;
            padding: 0;
            margin: 0;
            >li{
                float:left;
                position: relative;
                &:hover{
                    z-index: 99;
                    >ul{
                        opacity: 1;
                        display: block;
                    }
                }
                >a{
                    display: block;
                    color: $secondary_menu_color;
                    line-height: 20px;
                }
                >ul{
                    min-width: 200px;
                    top: 40px;
                    left: 0;
                    opacity: 0;
                    display: none;
                    @include transition(all 0.8s);
                }
                a{
                    display:  block;
                    text-transform: uppercase;
                    padding: 10px;
                    color: $secondary_submenu_color;
                    &:hover{
                        background-color: rgba(0,0,0,0.5);
                    }
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    background-color: $secondary_submenu_bg_color;
                }
            }
        }
    }

    .featured-news{
        height: 380px;
        a{
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        img{
            min-height: 100%;
            max-width: 105%;
        }
        .leftBock{
            width: 60%;
            height: 100%;
            float: left;
            .first-news{
                height: 60%;
            }
            .others-news{
                height: 40%;
                .news{
                    height: 100%;
                }
            }
        }
        .rightBlock{
            width: 40%;
            float: left;
            height: 100%;
        }
    }

    .leftBock{
        .first-news{
            img{}
        }
        .others-news{
            .news{
                width: 50%;
                float: left;
            }
            .news-inner{
                img{}
            }
        }
    }

    .news-page{
        .news{
            height: 250px;
        }

        .top-news{
            margin-top: 20px;
            margin-bottom: 10px;
            overflow: hidden;
            .news{
                &:first-child{
                    width: 66.666666%;
                    float: left;
                    padding-right: 10px;
                }
                &:last-child{
                    width: 33.333333%;
                    float: left;
                }
            }
        }
        .bottom-news{
            overflow: hidden;
            margin-bottom: 20px;
            .news{
                width: 33.333333%;
                float: left;
                padding-right: 10px;
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }

    .site-body{
        margin: 40px 0;
        .container{
            width: 750px;
        }
        .site-content{
            width: 75%;
            float: left;
            border-right: 1px solid #ddd;
            padding: 10px 20px 10px 10px;
        }

        .primary-sidebar{
            width: 25%;
            float: left;
            padding: 10px 10px 10px 20px;
            .sidebar-navigation{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .products-page{
        margin-left: -5px;
        margin-right: -5px;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
        .product{
            width: 25%;
            float: left;
        }
    }


    .site-footer{
        .leftFooter{
            width: 70%;
            float: left;
        }
        .rightFooter{
            width: 30%;
            float: left;
        }
    }
}

@media (min-width: 998px) {
    .featured-news{
        height: 490px;
        .leftBock{
        }
        .rightBlock{
        }
    }

    .leftBock{
        .first-news{
            img{}
        }
        .others-news{
            .news{}
            .news-inner{
                img{}
            }
        }
    }
    .news-page{
        .news{
            height: 320px;
        }
    }
    .products-page{
        .product{
            width: 20%;
        }
    }

    .site-body{
        .container{
            width: 970px;
        }
    }
}

@media (min-width: 1200px) {
    .featured-news{
        height: 590px;
        .leftBock{
        }
        .rightBlock{
        }
    }

    .leftBock{
        .first-news{
            img{}
        }
        .others-news{
            .news{}
            .news-inner{
                img{}
            }
        }
    }
    .news-page{
        .news{
            height: 450px;
        }
    }
    .site-body{
        .container{
            width: 1170px;
        }
        .site-content{
            padding: 10px 40px 10px 10px;
        }
        .primary-sidebar{
            padding: 10px 10px 10px 40px;
        }
    }
    .site-footer{
        .leftFooter{
            width: 50%;
        }
        .rightFooter{
            width: 50%;
            margin-top: 33px;
        }
        .subcribe{
            width: 40%;
            float:left;
        }
        .sm-block{
            float: right;
        }
    }
}

@media (max-width: 960px){
    .primary-navigation{
        .search-header{
            .input-text{
                .text{
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 804px){
    .primary-navigation li.cm-account a{
        padding: 8px 7px 7px 15px;
    }
}

@media (max-width:804px){
    .primary-navigation{
        li{
            &.cm-account{
                border-right: 1px solid #737373;
                padding-right: 10px;
                .icon{
                    display: block;
                    height: 30px;
                    width: 30px;
                    background: image-url("fiona.png") no-repeat;
                    background-position: -64px -34px;
                }
                .text{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .site-header{
        background-color: $mobile_main_menu_bg_color;
        padding: 5px 15px;
        height: 50px;
        position: relative;
        #logo{
            left: 68px;
        }
        .primary-navigation{
            float: right;
            overflow: hidden;
            margin-top: -10px;
            li{
                display: none;
                &.cm-cart, &.search-header, &.cm-account{
                    display: block;
                }
                &.cm-cart{
                    a:before{
                        top: 1px;
                        height: 27px;
                        width: 20px;
                        background-position: 0px -34px;
                        background-size: 309px 60px;
                    }
                    .counter{
                        position: relative;
                        color: #737373;
                        top: 5px;
                    }
                }

                &.search-header{
                    border-left: 1px solid #737373;
                    padding-left: 10px;
                    margin-left: 10px;
                    .icon{
                        height: 30px;
                        width: 30px;
                        background-position: -102px -30px;
                        cursor: pointer;
                    }
                    .text{
                        display: none;
                    }
                }
            }
        }
    }
    .mobile-menu-button{
        display: block;
        height: 16px;
        width: 30px;
        background: image-url("fiona.png") no-repeat;
        background-position: -26px -39px;
        position: relative;
        top: 12px;
        cursor: pointer;
    }
    .border{
        display: block;
        position: absolute;
        height: 40px;
        width: 1px;
        left: 57px;
        top: 5px;
        background-color: #a8a8a8;
    }
    .sub-navigation{
        display: none;
    }
    .mobile-menu{
        .sub-navigation{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            background-color: #232323;
            .container{
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                position: absolute;
            }
        }
    }
    .site-footer{
        text-align: center;
        .leftFooter{
            margin-bottom: 15px;
        }
        .socials{
            display: inline-block;
            margin: 10px auto 0px;
        }
    }
}
