$header_bg_color: #ffffff;
$icon_color: #737373;
$main_menu_color: #9a9a9a;

$mobile_main_menu_bg_color: #eaeaea;

$secondary_menu_bg_color: #1a1a1a;
$secondary_menu_color: #ffffff;
$secondary_submenu_bg_color: #4d4d4d;
$secondary_submenu_color: #ffffff;


$overlay_button_bg_color: #ffffff;
$overlay_button_color: #000000;

$search_bg_color: #9a9a9a;
$search_color: #ffffff;

$footer_bg_color: #f0f0f0;
$footer_color: #141316;
