<div id="login-form" ng-init="isLogin=true">
    <h1 class="page-heading">Đăng nhập</h1>
    <div class="login-container">
        <div class="sub-page-heading">
            Đăng nhập hoặc đăng ký thành viên bằng tài khoản
        </div>
        <ul class="socials">
            <li class="facebook">
                <a href="/redirect/fb"><span class="fa fa-facebook"></span> Facebook</a>
            </li>
            <li class="google">
                <a href="/redirect/gg"><span class="fa fa-google-plus"></span> Google</a>

            </li>
        </ul>
        <form ng-if="isLogin" method="POST" accept-charset="UTF-8" name="formLogin" id="nagatvie-form">
            <div class="text-wrap" ng-class="{true: 'has-error'}[submitted && formLogin.email.$invalid]">
                <input type="email" name="email" placeholder="Nhập địa chỉ email hoặc số điện thoại đăng ký" ng-model="login.email" ng-required="true">
                <label class="control-label" ng-show="submitted && formLogin.email.$error.required">Bạn chưa nhập Email.</label>
                <label class="control-label" ng-show="submitted && formLogin.email.$error.email">Địa chỉ email ko hợp lệ.</label>
            </div>
            <div class="text-wrap" ng-class="{true: 'has-error'}[submitted && formLogin.password.$invalid]">
                <input type="password" name="password" placeholder="Mật khẩu" ng-model="login.password" ng-required="true">
                <label class="control-label" ng-show="submitted && formLogin.password.$error.required">Mời bạn nhập mật khẩu.</label>
            </div>
            <div ng-if="msg" class="alert alert-danger">
                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{msg}}
            </div>

            <div class="fortget-password">
                <a href="{{ url }}/quen-mat-khau.html">Quên mật khẩu?</a>
            </div>
            <a href="javascript:void(0)" class="btn btn-login" ng-click="loginUser(formLogin.$invalid)">Đăng nhập</a>
        </form>

        <form ng-if="!isLogin" method="POST" accept-charset="UTF-8" name="formRegister" id="nagatvie-form">
            <div class="text-wrap" ng-class="{true: 'has-error'}[submitted && formRegister.fullname.$invalid]">
                <input type="text" name="fullname" placeholder="Tên" ng-model="register.fullname" ng-required="true">
                <label class="control-label" ng-show="submitted && formRegister.fullname.$error.required">Bạn chưa nhập Tên.</label>
            </div>
            <div class="text-wrap" ng-class="{true: 'has-error'}[submitted && formRegister.fullname.$invalid]">
                <input type="text" class="input-date" name="date" placeholder="Ngày tháng năm sinh (yyyy-mm-dd)" 
                            uib-datepicker-popup="yyyy-MM-dd"
                            ng-model="register.birth_date" 
                            is-open="open_calendar"  
                            close-text="Close"
                            ng-click="openCalendar($event)" 
                            ng-required="true" />
                <label class="control-label" ng-show="submitted && formRegister.date.$error.required">Bạn chưa nhập ngày tháng năm sinh.</label>
            </div>
            <div class="text-wrap" ng-class="{'has-error' : submitted1 && (formLogin.email.$invalid || emailExists)}">
                <input type="email" name="email" placeholder="Địa chỉ email" ng-model="register.email" ng-required="true">
                <label class="control-label" ng-show="submitted && formRegister.email.$error.required">Bạn chưa nhập Email.</label>
                <label class="control-label" ng-show="submitted && formRegister.email.$error.email">Địa chỉ email ko hợp lệ.</label>
            </div>
            <div class="text-wrap" ng-class="{true: 'has-error'}[submitted && formRegister.phone.$invalid]">
                <input type="text" name="phone" placeholder="Số điện thoại" ng-model="register.phone" ng-required="true">
                <label class="control-label" ng-show="submitted && formRegister.phone.$error.required">Mời bạn nhập số điện thoại.</label>
            </div>
            <div class="text-wrap" ng-class="{true: 'has-error'}[submitted && formRegister.password.$invalid]">
                <input type="password" name="password" placeholder="Mật khẩu" ng-model="register.password" ng-required="true">
                <label class="control-label" ng-show="submitted && formRegister.password.$error.required">Mời bạn nhập mật khẩu.</label>
            </div>
            <div style="margin-top: 50px;" ng-if="emailExists" class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{emailExists}}
            </div>
            <div style="margin-top: 50px;" ng-if="messageCreateSuccess" class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{messageCreateSuccess}}
            </div>

            <div class="fortget-password">
                <a href="{{ url }}/quen-mat-khau.html">Quên mật khẩu?</a>
            </div>
            <a href="javascript:void(0)" class="btn btn-login" ng-click="registerUser(formRegister.$invalid)">Đăng kí</a>
        </form>

        <div class="register-link" ng-if="isLogin">
            Bạn chưa có tài khoản? <a href="javascript:void(0)" class="register" ng-click="isLogin = !isLogin">Đăng ký ngay</a>
        </div>

        <div class="register-link" ng-if="!isLogin">
            Tôi đã đồng ý với các thỏa thuận....
        </div>
    </div>
</div>
