<div class="product-detail">
    <div class="product-container">
        <div class="product-images">
            <div class="saleoff">Saleoff {{product.discount}}%</div>
            <ul class="thumbnails">
                <li ng-repeat="image in product.images" class="ng-scope"><img src="/core/images/product/{{ image.folder }}/{{ image.stored_file_name}}" alt="{{ image.name }}"></li>
            </ul>
            <div id="main-image">

            </div>

        </div>
        <div class="product-infos">
            <h3 class="product-name">{{product.name}}</h3>
            <p class="sku">({{ product.sku }})</p>
            <div class="old-price" ng-if="product.old_price"><span class="price">{{ product.old_price }} VND</span> <span class="discount" ng-if="product.discount">(Đã giảm {{product.discount}}% cho một sản phẩm)</span></div>
            <div class="sale-price" ng-if="product.price">{{product.price}}  VND</div>
            <div class="price" ng-if="!product.price">Giá: <strong>Liên hệ</strong></div>

            <div class="product-color">
                <span class="label">Màu sắc:</span>
                <div class="value">

                </div>
            </div>

            <div class="product-sizes">
                <span class="label">Size:</span>
                <div class="value"></div>
            </div>

            <div class="user-action">
                <a href="{{ url }}/huong-dan-mua-hang.html" class="btn btn-dark btn-guide" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
                <div class="btn btn-dark add-to-cart" ng-click="addProductToCart(product.id)">Đặt hàng</div>
            </div>

            <ul class="share-socials">
            </ul>
            <div class="hotlines">
                <h3>Hotline</h3>
                <p>0981272899</p>
                <p>0981272899</p>
                <p>0981272899</p>
            </div>
            <div class="chatwith">
                <ul>
                    <li>Chat với Fiona: </li>
                    <li class="skype"><a href="skype:-skype-name-?chat">Skype</a></li>
                    <li class="zalo"><a href="zalo://0981272899">Zalo</a></li>
                </ul>
            </div>

            <div id="product-comments">
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
