<div id="cart-viewer">
	<h3 class="page-heading">Giỏ hàng của bạn</h3>
    <div class="order-detail-content">
		<div class="has-product" ng-if="numberItem > 0">
	        <table class="table table-bordered table-responsive cart_summary">
	            <thead>
	                <tr>
	                    <th class="cart_product" style="text-align: center;">Hình ảnh</th>
	                    <th style="text-align: center;">Tên</th>
	                    <th style="text-align: center;">Có sẵn</th>
	                    <th style="text-align: center;">Giá</th>
	                    <th style="text-align: center;">Số lượng</th>
	                    <th style="text-align: center;">Tổng tiền</th>
	                    <th style="text-align: center;" class="action"><i class="fa fa-trash-o"></i></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="cart in carts">

	                    <td style="text-align: center;" class="cart_product">
	                        <a href="javascript:void(0)"><img width="50" height="50" ng-src="core/images/product/{{cart.options.imagesPath}}" alt="Product"></a>
	                    </td>
	                    <td style="text-align: center;" class="cart_description">
	                        <p class="product-name"><a href="javascript:void(0)">{{cart.name}} </a></p>
	                    </td>
	                    <td style="text-align: center;" class="cart_avail"><span class="label label-success">In stock</span></td>
	                    <td style="text-align: center;" class="price"><span>{{cart.price | currency:"":0}} đ</span></td>
	                    <td style="text-align: center;" class="qty">
	                        <input class="form-control input-sm" type="number" min="1" ng-model="cart.qty">
	                        <a href="javascript:void(0)" ng-click="cart.qty = cart.qty+1; updateCart(cart)">tăng</a>
	                        <a ng-if="cart.qty > 1" href="javascript:void(0)" ng-click="cart.qty = cart.qty-1; updateCart(cart)">giảm</a>                    </td>
	                    <td style="text-align: center;" class="price">
	                        <span>{{cart.subtotal | currency:"":0}} đ</span>
	                    </td>
	                    <td style="text-align: center;" class="action">
	                        <a href="javascript:void(0)" ng-click="deleteCart(cart.rowid)">Delete item</a>
	                    </td>
	                </tr>
	            </tbody>
	            <tfoot>
	                <tr>
	                	<td style="text-align: center;" colspan="2" rowspan="2"></td>
	                    <td colspan="3"><strong>Tổng tiền</strong></td>
	                    <td style="text-align: center;" colspan="2"><strong>{{priceTotal | currency:"":0}} đ</strong></td>
	                </tr>
	            </tfoot>
	        </table>
	        <div class="cart_navigation">
	            <a class="prev-btn" href="/">Tiếp tục mua hàng</a>
	            <a ng-if="priceTotal > 0" class="next-btn" href="javascript:void(0)" ng-click="continueCheckOut()">Tiếp tục thanh toán</a>
	        </div>
		</div>
		<div class="no-product" ng-if="numberItem <= 0">
			Chưa có sản phẩm nào trong giỏ hàng của bạn
		</div>
    </div>
</div>
<!-- <div class="heading-counter warning">Có tổng cộng <strong>{{numberItem}}</strong> sản phẩm trong giỏ hàng của bạn -->
